    {{#each allCourses}}

    <div class="couseList">{{this.title}}</div>
    <div class="contaner-courses-item-img">
        <a href='/courses/lectures/{{this._id}}'><img src="/img/course/{{this.title}}.jpg" class="container-main-img"></a>
     </div>
     {{/each}}
    
