<form action="/" method="POST">

<input type="text" name="email" placeholder="введите email">
<input type="password" name="pasword" placeholder="введите пароль">
<button class="btnAuth" type="submit">Войти</button>

</form>
