<div class="question-container">
  <div class="menu-question">
    <button>Вопрос1</button>
    <button>Вопрос2</button>
    <button>Вопрос3</button>
    <button>Вопрос4</button>
    <button>Вопрос5</button>
  </div>
  <div class="answers">
    <p>Ответ</p>
  </div>
</div>
