<div class="question-container">
  <div class="menu-question">
    {{#each allModel}}
    <button class="questButton" id="{{this._id}}">{{this.title}}</button>
    {{/each}}
  </div>
  <div class="answers">
    <p>Ответ</p>
  </div>
</div>
