<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- CSS only -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script defer src="/script/application.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>Order</title>
</head>

<header>
  <div class="headerTop">
    <div class="phoneNumber"><a href="tel:+78008888888" class="telephone">Наш номер: 8-800-888-88-88</a></div>
    <div class="logIn">
      <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="textDecoration">Авторизация/Регистрация</a>
      {{!-- <button onclick="show('block')" class="textdecoration">Авторизация/Регистрация</button> --}}
    </div>
  </div>
  <div class="headerBottom">
    <div class="firstHead">
      <div><a href='/'><img src="/img/logo.jpg" alt="Logo" class="logo"></a></div>
    </div>
    <div class="secondHead">
      <div class="main-links"><a>Курсы</a></div>
      <div class="main-links"><a href="/aboute" class="mainButton">О Нас</a></div>
      <div class="main-links"><a href="/partners" class="mainButton">Наши партнеры</a></div>
      <div class="main-links"><a href="/faq" class="mainButton">Часто Задаваемые Вопросы</a></div>
    </div>
  </div>
</header>

<body>
      <div id="id01" class="modal">
  
  <form class="modal-content1 animate" action="../action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Закрыть Modal">&times;</span>
      <img src="img_avatar2.png" alt="Аватар" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Имя пользователя</b></label>
      <input type="text" placeholder="Введите имя пользователя" name="uname" required>

      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder=" Ведите пароль" name="psw" required>
        
      <button type="submit">Пользователь</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отменить</button>
      <span class="psw">Забыли <a href="#">пароль?</a></span>
    </div>
  </form>
</div>
  {{{body}}}
</body>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</html>
