<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- CSS only -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script defer src="/script/application.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>Order</title>
</head>

<header>
  <div class="headerTop">
    <div class="phoneNumber"><a href="tel:+78008888888" class="telephone">Нашем номер: 8-800-888-88-88</a></div>
    <div class="logIn">
    <a href="/login">Авторизация/Регистрация</a>
    </div>
  </div>
  <div class="headerBottom">
    <div class="firstHead">
      <div><a href='/'><img src="/img/logo.jpg" alt="Logo" class="logo" ></a></div>
    </div>
    <div class="mainPicture">
  <div><img src="/img/vrachi-v-maskakh.png" alt="doctors"  class="doctorImg"></div>
    </div>
    <div class="secondHead">
      <div class="main-links"><a>Курсы</a></div>
      <div class="main-links"><a>О Нас</a></div>
      <div class="main-links"><a>Наши спонсоры</a></div>
      <div class="main-links"><a>Часто Задаваемые Вопросы</a></div>
    </div>
  </div>
</header>

<body>

  {{{body}}}

</body>

</html>
