<div class="formsButton">
   <form action="/faq">
   <button class="landingBatton" type="submit" name="faq">FaQ</button>
   </form>

   <form action="/partners">
   <button class="landingBatton" type="submit" name="partners">Партнеры</button>
   </form>

   <form action="/aboute">
   <button class="landingBatton" type="submit" name="aboute">О компании</button>
   </form>

   <form action="/courses">
   <button class="landingBatton" type="submit" name="course">Учебный курс</button>
   </form>
</div>
