<form action="/" method="POST">

<input type="text" placeholder="введите имя" name="userName">
<input type="text" placeholder="введите email" name="email">
<input type="password" placeholder="введите пароль" name="password">
<button class="btn" type="submit">Регистрация</button>

</form>
